*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Body */

body{
    background-color:lightgray
}


/* Header */

header{
    background-color:white;
    
}

.header-container{
    width: 1200px;
    margin: 0 auto;
    height: 100px; 
}

#logo{
    height: 80px;
    width: 80px;
    line-height: 100px;
    vertical-align:middle
}

.title{
    display: inline;
    font-size: 50px;
    line-height: 100px;
    margin-left: 10px;
    vertical-align: middle;
}

/* Main */

        /* Main Button Box */
.button-box{
    width: 800px;
    margin: 100px auto 3px auto;
    background-color:white;
    padding:20px 45px;
}

.button-task{
    width: 80px;
    height: 28px;
    color:white;
    background-color: rgb(108, 172, 241);
    border-color: rgb(108, 172, 241) ;
    border-radius: 8%;

}

.button-section{
    width: 80px;
    height: 28px;
    color: lightgrey;
    background-color:white;
    border-color: lightgray ;
    border-radius: 8%;


}

        /* Main Box container */

.main-box-container{
    width: 800px;
    margin: 0px auto;
    background-color:white;
    padding:20px 45px;
    color: black; 

}

        /* Utils */

.summary-content-linestyle{
    line-height: 40px;
}        

.summary-title{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;

}

.checkmark{
    width: 25px;
    height: 25px;
    color: rgb(82, 195, 82);
    border: 2px solid rgb(82, 195, 82);
    border-radius:50%;
    text-align: center;
    padding: 2px;

}

.text-style{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

.editorial-label{
    display: inline-block;
    width: 80px;
    height: 25px;
    background-color:#45abea;
    text-align: center;
    border-radius: 18px;
    line-height: 25px;
    color: white;
    font-size: 12px;
}

.goals-label{
    display: inline-block;
    width: 80px;
    height: 25px;
    background-color:#9b71e3;
    text-align: center;
    border-radius: 18px;
    line-height: 25px;
    color: white;
    font-size: 12px;
}

.recruiting-label{
    display: inline-block;
    width: 80px;
    height: 25px;
    background-color:#64c0a9;
    text-align: center;
    border-radius: 18px;
    line-height: 25px;
    color: white;
    font-size: 12px;
}

.mobile-label{
    display: inline-block;
    width: 80px;
    height: 25px;
    background-color:#f29e33;
    text-align: center;
    border-radius: 18px;
    line-height: 25px;
    color: white;
    font-size: 12px;
}