*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Body */

body{
    background-color:lightgray
}


/* Header */

header{
    background-color:white;
    
}

.header-container{
    width: 1200px;
    margin: 0 auto;
    height: 100px; 
}

#logo{
    height: 80px;
    width: 80px;
    line-height: 100px;
    vertical-align:middle
}

.title{
    display: inline;
    font-size: 50px;
    line-height: 100px;
    margin-left: 10px;
    vertical-align: middle;
}

/* Main */

        /* Main Button Box */
.button-box{
    width: 800px;
    margin: 100px auto 3px auto;
    background-color:white;
    padding:20px 45px;
}

.button-task{
    width: 80px;
    height: 28px;
    color:white;
    background-color: rgb(108, 172, 241);
    border-color: rgb(108, 172, 241) ;
    border-radius: 8%;

}

.button-section{
    width: 80px;
    height: 28px;
    color: lightgrey;
    background-color:white;
    border-color: lightgray ;
    border-radius: 8%;


}

        /* Main Box container */
.main-box-container{
    width: 800px;
    margin: 0px auto;
    background-color:white;
    padding:20px 45px;

}